<div class="d-flex flex-column mt-5 align-items-center">
    {{#each data}}
        <div class="card d-flex align-items-center w-50">
            <a href="/user_list/{{email}}" style="display: flex; flex-wrap: wrap;">
                <div style="margin-right: 2px">{{firstName}}</div>
                <div style="margin-right: 2px">{{lastName}}</div>
                <div style="margin-right: 2px">{{email}}</div>
                <div style="margin-right: 2px">{{password}}</div>
            </a>
        </div>
    {{/each}}
</div>
